#edit_blog_interface {
  display: none;
  margin-top: 5rem;
}

#new_blog_title {
  width: 50%;
}

#new_blog_blurb {
  width: 50%;
}

#new_blog_body {
  width: 50%;
  height: 15rem;
}

/*Images*/
.image_container {
  display: flex;
  flex-direction: column;
}

.image_body {
  display: flex;
  flex-direciton: row;
}

.image_tools {
  display: flex;
  flex-direction: column;
}

.image_image {
  max-height: 400px;
}
