.blog_post_container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
}
.blog_post_header_container {

}
.blog_post_series_title {
    font-weight: bold;
    font-size: 2rem;
}
.blog_post_series_title:hover {
    color:cadetblue;
}
.blog_post_title {
    font-weight: bold;
    border-bottom: 1rem double black;
    font-size: 3rem;
}
.blog_post_timestamp {
    float: right;
}
.blog_post_tag_container {

}
.blog_post_tag {

}
.blog_post_tag:hover {

}
.blog_post_text_section {

}
.blog_post_image_section {

}
.blog_post_code_section {
    background-color:#faebd7;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    border-radius: 1rem;
    border: 3px #F4D4AA solid;
    white-space: break-spaces;
    font-family: Monaco, monospace;
}
.blog_post_code_section_copy_button {
    float: right;
    border: 1px solid black;
    padding: .25rem;
    border-radius: .2rem;
    margin-bottom: 1rem;
    transition: background-color 1s;
}
.blog_post_code_section_copy_button:hover {
    background-color:lightblue;
    transition: background-color 1s;
}